.mainheader {
	background-image: url(../images/header.jpg);
	background-color: $gray-lighter;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	.container {

		display: flex;
		justify-content: flex-start;
		align-items: center;
		min-height: 15vh;
		
		//background-attachment: fixed;

		.text {
			color: #fff;
		}

		.home & {

			justify-content: center;
			min-height: 55vh;
			.text {
				text-align: center;
			}

			.searchform {
				input {
					background: rgba(255,255,255,0.8);

					&:focus {
						background: rgba(255,255,255,1);
						border-color: $brand-primary;
					}
				}
			}
		}
		
	}
}