.mainheader {
	.home & {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 45vh;
		background-image: url(../images/header.jpg);
		background-color: $gray-lighter;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		//background-attachment: fixed;
		
		.container {
			flex-basis: 50%;
		}

		.text {
			text-align: center;
			color: #fff;
		}

		.searchform {
			input {
				background: rgba(255,255,255,0.9);
			}
		}
	}
}